<!DOCTYPE HTML>
<html>
<head>
    <title>Chat2Speech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(function(){

            ////////////////////////////////////////////////////////////////////////////////
            // Hacks
            ////////////////////////////////////////////////////////////////////////////////

            $('_form').on('keyup keypress', function(e) {
              var keyCode = e.keyCode || e.which;
              if (keyCode === 13) { 
                e.preventDefault();
                return false;
              }
            });


            ////////////////////////////////////////////////////////////////////////////////
            // Voice
            ////////////////////////////////////////////////////////////////////////////////

            function talk(text) {
                var msg = new SpeechSynthesisUtterance();
                var voices = window.speechSynthesis.getVoices();
                msg.voice = voices[$('#voices').val()];
                msg.rate = parseFloat($('#rate').val());
                msg.pitch = $('#pitch').val();
                msg.volume = parseFloat($('#volume').val());
                msg.text = text;

                msg.onend = function(e) {
                    console.log('Finished in ' + event.elapsedTime + ' seconds.');
                };

                //console.log(speechSynthesis);

                speechSynthesis.speak(msg);
            }


            if ('speechSynthesis' in window) {
                speechSynthesis.onvoiceschanged = function() {
                    var $voicelist = $('#voices');

                    if($voicelist.find('option').length == 0) {
                        speechSynthesis.getVoices().forEach(function(voice, index) {
                            //console.log(voice);
                            var $option = $('<option>')
                                .val(index)
                                .html(voice.name + (voice.default ? ' (default)' :''));
                            $voicelist.append($option);
                        });
                        $voicelist.material_select();
                    }
                }

                $('#speak').click(function(){
                    var text = $('#message').val();
                    talk(text)
                })

            } else {
                alert('Your browser does not support speech synthesis. Please use Google Chrome.')
            }


            ////////////////////////////////////////////////////////////////////////////////
            // Socket IO
            ////////////////////////////////////////////////////////////////////////////////

            username = '???'

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'Connected to server!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                //console.log(msg)
                //$('#log').prepend('<br>' + $('<div/>').text(msg.count + ': ' + msg.data).html());
                var msgs = msg.data.split('|')
                var front_msg = msgs.shift();
                var main_msg = msgs.join('|')
                $('#log').prepend(
                    '<br>' + 
                    $('<div/>').text(front_msg).html() +
                    (main_msg ? '<br>' + '<b>' + $('<div/>').text(main_msg).html()  + '</b>': '')
                );
                if( msg.speak == true) {
                    talk(main_msg)
                }
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways

            init_page = function () {
                $('#username_data').focus()
                $('#username').show()
                $('#send_room').hide()
                $('#leavebtn').hide()
                $('#closebtn').hide()
            }

            username_func = function(){
                username = $('#username_data').val()
                $('#username').hide()
                $('#send_room').show()
                $('#leavebtn').show()
                $('#closebtn').show()
                $('#room_data').focus()

                socket.emit('join', {room: '{{ room_id }}'});

                return false
            }
            $('#usernamebtn').click(username_func)
            $('#username').submit(username_func)

            emit_func = function(){
                socket.emit('my_event', {data: username + ' says ' + $('#emit_data').val()});
                return false
            }
            $('#emitbtn').click(emit_func)
            $('#emit').submit(emit_func)


            broadcast_func = function(){
                socket.emit('my_broadcast_event', {data: username + ' says ' + $('#broadcast_data').val()});
                return false
            }
            $('#broadcastbtn').click(broadcast_func)
            $('#broadcast').submit(broadcast_func)

            join_func = function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false
            }
            $('#joinbtn').click(join_func);
            $('#join').submit(join_func);


            leav_func = function(event) {
                //var room_id = $('#leave_room').val()
                var room_id = '{{ room_id }}'
                socket.emit('leave', {room: room_id});
                // reset
                init_page();
                return false
            }
            $('#leavebtn').click(leav_func);
            $('#leave').submit(leav_func);

            send_room_func = function(event) {
                //var room_id = $('#room_name').val()
                var room_id = '{{ room_id }}'
                var user_msg = $('#room_data').val()
                var date_msg = moment().format('MMM Do YYYY h:mm:ss a');

                var msg = date_msg + ' | ' + username + ' says ' + user_msg
                socket.emit('my_room_event', {room: room_id, data: msg,});

                $('#room_data').val('')
                return false
            }
            $('#send_roombtn').click(send_room_func);
            $('#send_room').submit(send_room_func);

            close_func = function(event) {
                //var room_id = $('#close_room').val()
                var room_id = '{{ room_id }}'
                socket.emit('close_room', {room: room_id});
                return false
            }
            $('#closebtn').click(close_func);
            $('#close').submit(close_func);


            $('#disconnectbtn').click(function(event) {
                socket.emit('disconnect_request');
            });

            init_page();

        });
    </script>
</head>
<body>
    <div class="container">

        <div class="col s12">


            <div class="row">
                <h5 class="col s9">Room: {{ room_id }}</h5>

                <div class="row horizontal">
                    
                    <a href="#" id="closebtn" class="btn-floating btn">
                        <i class="material-icons">settings_power</i>
                    </a>
                    <a href="#" id="leavebtn" class="btn-floating  btn">
                        <i class="material-icons">close</i>
                    </a>
                </div>

                <div class="col s12">

                    <form id="username" method="POST" action='#'>
                        <input type="text" name="username_data" id="username_data" placeholder="Username" class="input-field col s8"/>
                        <a href="#" id="usernamebtn" class="waves-effect waves-light btn">Save</a>
                    </form>
                    <form id="send_room" method="POST" action='#' class="row" style="display: none">
                        <input type="text" name="room_data" id="room_data" placeholder="Message" class="col s8">
                        <a href="#" id="send_roombtn" class="waves-effect waves-light btn">Send</a>
                    </form>
                </div>

                <div class="col s12">

                <h5>Messages</h5>

                <div id="log" class="row"></div>
            </div>

            </div>

            <div class="col s12" >


                <h5>Voice Settings</h5>

                <form>
                    <div class="row">
                         <label>Choose voice</label>
                         <select id="voices"></select>
                    </div>

                    <div class="row">
                        <div class="col s4">
                            <label>Rate</label>
                            <p class="range-field">
                                <input type="range" id="rate" min="0.1" max="10" step="0.1" value="1" />
                            </p>
                        </div>
                        <div class="col s4">
                            <label>Pitch</label>
                            <p class="range-field">
                                <input type="range" id="pitch" min="0" max="2" value="1" step="0.1" />
                            </p>
                        </div>
                        <div class="col s4">
                            <label>Volume</label>
                            <p class="range-field">
                                <input type="range" id="volume" min="0" max="1" value="1" step="0.1"/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" name="message" id="message" placeholder="Message" class="input-field col s8"/>
                        <a href="#" id="speak" class="waves-effect waves-light btn">Test</a>
                    </div>                    
                </form> 

                <p>Async mode: <b>{{ async_mode }}</b> Latency: <b><span id="ping-pong"></span>ms</b></p>

            </div>
        </div>

    </div>

<!--

                <div class="col s12">
                    <form id="username" method="POST" action='#'>
                        <input type="text" name="username_data" id="username_data" placeholder="Username" class="input-field col s8"/>
                        <a href="#" id="usernamebtn" class="waves-effect waves-light btn">Save</a>
                    </form>
                </div>

                <div class="col s12">
                    <form id="broadcast" method="POST" action='#'>
                        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" class="input-field col s8"/>
                        <a href="#" id="broadcastbtn" class="waves-effect waves-light btn">Send</a>
                    </form>
                </div>




                <form id="join" method="POST" action='#' class="row">
                    <input type="text" name="join_room" id="join_room" placeholder="Room Name" class="col s6" value="{{ room_id }}">
                    <a href="#" id="joinbtn" class="waves-effect waves-light btn">Join Room</a>
                </form>
                <form id="leave" method="POST" action='#' class="row">
                    <input type="text" name="leave_room" id="leave_room" placeholder="Room Name" class="col s6"value="{{ room_id }}">
                    <a href="#" id="leavebtn" class="waves-effect waves-light btn">Leave Room</a>
                </form>
                <form id="send_room" method="POST" action='#' class="row">
                    <input type="text" name="room_name" id="room_name" placeholder="Room Name" class="col s3" value="{{ room_id }}">
                    <input type="text" name="room_data" id="room_data" placeholder="Message" class="col s3">
                    <a href="#" id="send_roombtn" class="waves-effect waves-light btn">Send</a>
                </form>



                <form id="emit" method="POST" action='#' class="row">
                    <input type="text" name="emit_data" id="emit_data" placeholder="Message" class="col s6">
                    <a href="#" id="emitbtn" class="waves-effect waves-light btn">Echo</a>
                </form>

                <form id="close" method="POST" action="#" class="row">
                    <input type="text" name="close_room" id="close_room" placeholder="Room Name" class="col s6">
                    <a href="#" id="closebtn" class="waves-effect waves-light btn">Close Room</a>
                </form>
                <form id="disconnect" method="POST" action="#" class="row">
                    <a href="#" id="disconnectbtn" class="waves-effect waves-light btn">Disconnect</a>
                </form>
//-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>
